<a href="/0">Back to the Start</a>

<table>
  <tr>
    <th></th>
    <th>{{> path branch='1' opt=opt_1 id=id }}</th> 
    <th></th>
  </tr>
  <tr>
    <td>{{> path branch='2' opt=opt_2 id=id }}</td>
    <td>{{ opt_0 }}</td> 
    <td>{{> path branch='3' opt=opt_3 id=id }}</td>
  </tr>
  <tr>
    <td></td>
    <td>{{> path branch='4' opt=opt_4 id=id }}</td> 
    <td></td>
  </tr>
</table>